data/modelo_10.pth
src/trained_model.pth
rsc/modelo_10.pth
data/pascal_voc_dataset/
rsc/modelo_treinado_40.pth
rsc/modelo_treinado_50.pth
rsc/test/
rsc/test50/
src/modelo_treinado_40.pth
src/modelo_treinado_50.pth
rsc/modelo_treinado_20.pth
rsc/test20/
src/modelo_treinado_20.pth
rsc/modelo__20.pth
rsc/ntest100/
rsc/ntest150/
rsc/ntest20/
rsc/ntest200/
rsc/ntest300/
rsc/ntest400/
rsc/test100/
src/modelo_100.pth
src/modelo_30.pth
src/n_modelo_10.pth
src/n_modelo_100.pth
src/n_modelo_110.pth
src/n_modelo_120.pth
src/n_modelo_130.pth
src/n_modelo_140.pth
src/n_modelo_150.pth
src/n_modelo_160.pth
src/n_modelo_170.pth
src/n_modelo_180.pth
src/n_modelo_190.pth
src/n_modelo_200.pth
src/n_modelo_210.pth
src/n_modelo_220.pth
src/n_modelo_230.pth
src/n_modelo_240.pth
src/n_modelo_250.pth
src/n_modelo_260.pth
src/n_modelo_270.pth
src/n_modelo_280.pth
src/n_modelo_290.pth
src/n_modelo_300.pth
src/n_modelo_310.pth
src/n_modelo_320.pth
src/n_modelo_330.pth
src/n_modelo_340.pth
src/n_modelo_350.pth
src/n_modelo_360.pth
src/n_modelo_370.pth
src/n_modelo_380.pth
src/n_modelo_390.pth
src/n_modelo_400.pth
rsc/ntest10/
chk/
rsc/ntest350/
rsc/ntest472/
rsc/ntest50/
rsc/train_400_500_accuracy.json
rsc/train_400_500_dice_score.json
rsc/train_400_500_epoch_loss.json
rsc/train_400_500_iou_score.json
